@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", serif;
}

.navbar-nav li {
  font-size: 20px;
  font-weight: 350;
}

.text-nike{
  color: #ff6452;
}

.home-subcont{
  margin-top: 285px;
}

.home-image img{
  height: 90%;
  width: 90%;
  /* margin:0 70px; */
}

.btn-nike-learn{
  background-color: #fff;
  padding: 12px 30px;
  border: 1px solid;
  border-radius: 30px;
  color: #000;
  font-size: 18px;
}
.btn-nike{
  background-color: #ff6452;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
}
.border-org{
  border: 1px solid #ff6452 ;
}

#shoe-sub{
  width: 170px;
  height: 170px;
  background-color:#C5CBE3;
  border: none;
}

#sub-head-prod{
  width: 50%;
}
.about-main1{
  width: 43%;
}

.icon-about{
  width: 50px;
  height: 50px;
  background-color:#ff6452 ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.about-cards{
  height: 50%;
  width: 28%;
  /* border: 1px solid; */
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.offer-left{
  width: 50%;
}
.offer-right{
  width: 50%;
}

#rc-inp{
  height: 70px;
  width: 450px;
  border: 1px solid #5a5656;
  border-radius: 40px;
  padding: 25px;
  outline: none;
  color: #5a5656;
}

.r-contact .sign-up{
  position: absolute;
  top: 10px;
  left:70%;
}

.f-1{
  width: 30%;
}
.list a p:hover{
    color: #fff;
}
.social-media img{
  background-color: #fff;
  transition: all 0.3s;
}
.social-media img:hover{
  background-color: #ff6452;
}
@media (max-width: 768px) {
  .home-subcont{
    margin-top: 245px;
  }
  #shoe-sub{
    width:100px;
    height: 100px;
  }
  #sub-head-prod,
  .about-main1{
    width: 100%;
  }
  
  .about-cards{
    width: 80%;
    margin:20px;
    
  }  
  .offer-left{
    width: 100%;
  }
  .offer-right{
    width: 100%;
  }
  .r-contact .sign-up{
    left:70%;
}
.f-1{
  width: 100%;
}
}
@media (max-width: 568px) {
  .r-contact .sign-up{
    left:60%;
  }
}
